<!DOCTYPE html>
<html>
    
  <head>
    <title>Dev Bug Tracker</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
      
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Dev Bug Tracker</a>
        <button
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Menu -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a 
                      class="nav-link" 
                      href="/">Home 
                      <span class="sr-only">(current)</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/new">New</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/update">Update</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/delete">Delete</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/open">Open</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/closed">Closed</a>
              </li>
            </ul>
            
            <!-- search bar -->
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div id='testui' style='margin: 5%'>
      <h2>New Issue:</h2>
      <form action="/new" method="post" id="testForm">      
        <div class="form-group">
            <input class="form-control" type="text" name="issue_title" placeholder="*Title"required=''><br>
        </div>
        <div class="form-group">
            <textarea class="form-control" type="text" name="issue_text" placeholder="*Text"required=''></textarea><br>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-4">
                <input class="form-control" type="text" name="created_by" placeholder="*Created by"required=''><br>
            </div>
            <div class="form-group col-sm-4">
                <input class="form-control" type="text" name="assigned_to" placeholder="(opt) Assigned to"><br>
            </div>
            <div class="form-group col-sm-4">
                <input class="form-control" type="text" name="status_text" placeholder="(opt) Status text"><br>
            </div>
        </div>
        <button class="btn btn-success" type="submit">Submit Issue</button>
      </form>
      <code id='jsonResult'></code>
    </div>

    <!-- bootstrap -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- end bootstrap -->

  </body>
</html>
